<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIP</title>
</head>
<body>
    <div>
        <h4>In Such a Time Where Spending Money Daily is Unavoidable... This is the remedy for Constant Daily Income</h4>

        <h4>Complete Newbies Are Using This New Passive Income Pilot To Generate KES 2000 To KES 5000 Everyday Consistently With just Their Smartphone </h4>

        <h4>Discover how I was able to make over 3million naira within 3months with the simplest business model.</h4>

        <img src="../static/images/pip.jpg" alt="passive income pilot">

        <h4>This Video expires completely in:</h4>

        
        <!-- The countdown widget are found at efsight.com -->
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-8c4201d9-ce9b-42f1-99cb-8c311a2eebe9" data-elfsight-app-lazy></div>
       
        <h4>WATCH THIS VIDEO TRAINING</h4>

        <h4>Make sure to watch till the end</h4>

        <video width="320" height="240" controls autoplay muted>
            <source src="../static/images/001. Setting up Your Canva Account.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
        <h4>Ensure you watch the training video to the end and then Go back to the person that gave you this video training to get the registration link</h4>

    </div>

</body>
</html>